{// list [           }
{//   [              }
{//     id string    }
{//     title string }
{//     depth int    }
{//   ]              }
{// ]                }
<style>
    .dir-selector, .dir-selector * {
        box-sizing: border-box;
    }

    .dir-selector {
        flex: 1;
        overflow: auto;
    }

    .dir-selector > div {
        display: flex;
        flex-direction: column;
        width: max-content;
        min-width: 100%;
    }

    .dir-selector .radio {
        width: 100%;
        padding: 5px 10px;
    }

    .dir-selector .radio i {
        font-size: 16px !important;
    }
</style>
<form class="dir-selector">
    <div> <!-- flex -->
        {foreach $list as $i=>$vo}
        <a class="radio button colorless" href="javascript:void(0);"
           dir-id="{$vo.id}"
           style="padding-left: calc(10px + {$vo.depth*10}px);">
            <i class="material-icons">{:config("blog.icons")[1]}</i>
            {$vo.title}
        </a>
        {/foreach}
    </div>
</form>
<script>
    $('.dir-selector .radio').click(function () {
        $(this).siblings('*').removeAttr('active');
        $(this).attr('active', '1');
    })
    $('.dir-selector .radio:nth-child(1)').attr('active', '1');
</script>

