{include file='global/head_begin'}
<script src="/js/highlight/highlight.pack.js"></script>
<link rel="stylesheet" href="{:config('style_highlight')}">
<meta name="keywords" content="{$entity->title},R崽的博客">
<meta name="description" content="{$entity->title}">
{include file='global/head_end'}
{include file='global/body_begin'}
<div class="mybox" id="box">
	<div class="mycontent" id="content">
	</div>
</div>
{include file='global/body_end'}
{include file='global/script_begin'}
{include file='global/script_end'}
