<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=0.5,maximum-scale=3.0, user-scalable=yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="author" content="RickoNoNo3,RickoNoNo3@163.com">
	<meta name="copyright" content="RickoNoNo3">
	<meta name="google-site-verification" content="H8OLMgsMa9HVIHDya6fmpU3aeLh0NH56MTuqc1qKvpM">
	<title>{$info.title}</title>
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/blogPage.js"></script>
	<link href="/css/material-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="{:config('blog.style')}">
	{if $info.isMobile}
	<link rel="stylesheet" href="{:config('blog.style_mobile')}">
	{/if}
