<script>
    var IsInClient = false;
    function InClient() {
        var myboxContent = document.querySelector('.mybox').innerHTML;
        document.body.innerHTML = '<div class="mybox inclient">' + myboxContent + '</div>';
        IsInClient = true;
    }
    window.onload = {$info.isSpecial ? 'new' : ''} function() {
        if (!IsInClient) {
            var BG = document.getElementById('BG');
            BG.src = "{:config('blog.bg_img')}";
        }
    }
</script>
{if $info.isSpecial}
<script src="{:config('blog.cdn')}js/conSpecial.js"></script>
{/if}
<script src="{:config('blog.cdn')}js/conBg.js"></script>
<script src="{:config('blog.cdn')}js/conNavLoc.js"></script>
<script src="{:config('blog.cdn')}js/conLogin.js"></script>
